.header {
  background: #3f3ff8;
  height: 15rem;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
}
.intro img {
  border-radius: 10px;
  border: 2px solid #ffffff;
  padding: 4px;
}
.info * {
  margin: 10px;
}

@media screen and (max-width: 650px) {
  .header {
    flex-direction: column;
  }
  .info * {
    display: flex;
    align-items: baseline;
    font-size: 0.81rem;
  }
  .intro {
    display: flex;
    column-gap: 5rem;
    padding: 5px;
  }
  .intro h2 {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 320px) {
  .info * {
    display: flex;
    align-items: baseline;
    font-size: 0.67rem;
    margin: 5px;
  }
  .intro {
    display: flex;
    flex-direction: column;
    column-gap: 2rem;
    padding: 5px;
  }
  .intro img{
    width: 130px;
  }
  .intro h2 {
    font-size: 1.1rem;
    margin-top: 10px;
  }
}
