.container {
  padding: 1rem 5%;
}

.sections * {
  margin-top: 10px;
}
.section-card {
  border-radius: 7px;
  padding: 10px;
  /* box-shadow: 3px 3px #b8b8b8, -3px -3px 7px #ffffff; */
  border: 2px solid #b8b8b8;
}
.skills {
  display: flex;
  column-gap: 2.3rem;
}
.skills ul li {
  list-style-type: none;
}

.edu,
.exp {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 650px) {
  .container {
    padding: 1rem 2%;
  }
  .exp div h3 {
    font-size: 1em;
  }
}
